.custom-slider {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  border-radius: 10px;
  background: #4fa08a;
  outline: none;
}

/* Webkit Thumb */
.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 28px;
  background: #4fa08a;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px rgba(99, 102, 241, 0.4);
}

/* Firefox Thumb */
.custom-slider::-moz-range-thumb {
  width: 12px;
  height: 28px;
  background: #4fa08a;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

@keyframes slideIn {
  from {
    transform: translateX(120%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease forwards;
}
